.body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}


.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

ng-view {
  display: block;
  padding-top: 140px;
}
.animated-text {
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeSlideIn 1s ease forwards;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.navigation{
    width: 100%;
    height: 120px;
    box-shadow: 0 2px 4px rgb(194, 189, 189);
    align-items: center;
    justify-content: space-between;
    background-color: #071952;
    display: flex;
    position: fixed;
    
}


.left{
    height: 120px;
    width: 150px;
    background-image: url('logo.png');
    background-size: cover;
    
}

.right{
    color: white;
    height: 120px;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-right: 10%
}

.right a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight:300;
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.right i{
    color: rgb(136, 136, 136);
    padding-left: 120px;
    
}

.right a:hover{
    color: #97FEED;
}

.color{
    height: 45px;
    width: 20%;
    background-color: #0B666A;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
}

.color i{
    color: white;
    font-size: larger;
    padding-right: 90%;
}

.keep{
    color: rgb(59, 57, 57);
   padding-top: 17%;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 300%;
   padding-left: 17%;
 
}

.strong{
   color: #35A29F;
   opacity: 35%;
}

.container1{
    width: 100%;
    height: 70%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-top: 4%;
}

.box{
    height: 120%;
    width: 20%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 4px #97FEED;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box:hover{
     box-shadow: 4px 4px 4px 4px #97FEED;
     background-color: #2c4d4c;
     color: white;
     transform: 15s;
     border-radius: 8%;
     opacity: 60%;

}
.text:hover{
    color: white;
}

.text2:hover{
    color: white;
}

.text{
    color: rgb(164, 154, 154);
}

.text2{
    font-size: larger;
    font-weight: 500;
}

.container2{
    width: 80%;
    height: 50%;
    font-weight:lighter;
    margin-top: 5%;
    padding-left: 10%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 47, 47);
}

.icon
{
    display:flex;
    align-items: center;
    gap: 2px;
    color:  #B7BDF7;
}
.container3{
    height:25%;
    width:100%;
    margin-left: 10%;
    margin-top: 10%;


}
.next{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(38, 37, 37);
    font-size: 70%;
}

.task{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(59, 59, 59);
    font-weight: normal;
}

.container{
    height: fit-content;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container4{
    height: 200vh;
    width: 100%;
    align-items: center;
    justify-content:space-around;
    display: flex;
    margin-top: 10%;
  
    gap: 5%;
}

.focus{
    height: 60%;
    width: 60%;
    
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
   margin-left: 10%;
   

}

body {
  overflow: hidden;
}


.timer{
     height: 50%;
    width: 55%;
    background-color:#547792;
    align-items: center;
    justify-content:space-around;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    
}

.timer-box{
    height: 60%;
    width: 60%;
    background-color:#1A3263;
    border-radius: 7%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 39%;
   
}
.min{
color: rgb(88, 86, 86);
font-size: 500%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-bottom: 25%;


}

.count{
    /* padding-bottom: 5%; */
    font-size: 500%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #547792;
margin-bottom: 30%;
opacity: 35%;}

.text{
    padding-left: 8%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 110%;
   
   margin-top: 4%;
   
}

.focus2{
    margin-top: 10%;
}

.mintext p{
margin-top: 15%;
font-size: 120%;
}

.mintext{
    margin-bottom: 21%;
   
    height: fit-content;
}

.mintext .container5{
    margin-top: 10%;
}


.right a.active{
    color: #97FEED;
    font-weight: 500;
    border-bottom: 3px solid #97FEED;
    padding-bottom: 5px;
}

.conatiner{
    width: 100%;
    overflow:visible ;
}

/* 
timer */

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  
}

.btn1{
  background-color: white;
  border-color: white;
  border-right-color: white;
  color: gray;
  border: 0cap;
  margin-left: 2%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn1:hover{
   color: black;
   transform: scale(1.2);
   
}

.btn2{
  background-color: white;
  color: gray;
  border-color: white;
  border-right-color: white;
  border: 0cap;
  margin-left: 9%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn2:hover{
   color: black;
   transform: scale(1.2);
   
}

.btn3{
  background-color: white;
  border-color: white;
  color: gray;
  border-right-color: white;
  border: 0cap;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 8%;
}

.btn3:hover{
   color: black;
   transform: scale(1.2);
   
}

.timecount{
  font-size: 400%;
 
  padding-top:2%;
  height: fit-content;

  
}

.timetext{
 
}

.container5{
  
  gap: 10%;

}

.start{
  height:70px;
  width: 25%;
  background-color: #547792;
  color: white;
  border: none;
  gap: 5px;
 
}

.start:hover{
  background-color:#004d87;
}

.reload{
height:70px;
  width: 10%;
  margin-left: 4%;
  background-color: white;
  border: rgb(225, 222, 222) 0.2px solid;
}

.next{
height:70px;
  width: 10%;
  margin-left: 2%;
  background-color: white;
  border: rgb(225, 222, 222) 0.2px solid;
}

 .reload:hover{
 background-color: rgb(188, 44, 44);
  color: white;
  opacity: 80%;
}

.next:hover{
  background-color: rgb(188, 44, 44);
  color: white;
  opacity: 80%;
}

.focus2{
  color:#004d87;
  font-weight: 600;
  font-size: larger;
}
.timer-box{
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
 opacity: 80%;
}

.timer-box h1{
  font-size:400%;
  font-weight: 800;
  color: #547792;
}
.timer-box p{
  height: fit-content;
  width: fit-content;
  color: #547792;
}

.timecount{
  color: rgb(44, 42, 42);
  opacity: 70%;
}

.pro
{
  color: rgb(57, 55, 55);
  opacity: 70%;
}

.footer{
  height: 100vh;
  width: 100%;
 
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  opacity: 30%;
  font-weight: 300%;
  color: rgb(55, 50, 50);
}

.logo h1{
  font-size: 1000%;
  opacity: 28%;
}
.msg{
  align-items: center;
  display: flex;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  opacity: 30%;
  font-weight: 300%;
  color: rgb(55, 50, 50);
  justify-content: space-around;
}

.container7{
  width: 100%;
  height: 100vh;
  padding-left: 120px;
  padding-top: 140px;
}

.current{
  width: 60%;
}
.currenttext{
  line-height: 1.2;
}
.currenttext .current{
  font-size: 72px;
  font-weight: 600;
  color: #4a4a4a;
}
.currenttext .task{
  font-size: 72px;
  font-weight: 600;
  color: #b9b0a8;
}
.currenttext p{
  margin-top: 20px;
  font-size: 15px;
  color: #7a7a7a;
  max-width: 500px;
}

.color{
  width: 125px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.color i{ color: #7091F5; font-size: larger; font-size: larger;}
.color:hover i{ color: #97FFF4; transform: rotate(150deg)};

/* colordiv */


.cont {
  max-width: 720px;
  
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
}

/* Theme Card */
.theme-card {
  background: #fff;
  border: 2px solid #e6d9c9;
  border-radius: 10px;
  padding: 18px 20px;
  margin-bottom: 18px;
  transition: all 0.25s ease;
 
 
}

.theme-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.05);
  color: #ff7a7a;
  border: #004d87 2px solid;
}

.theme-card h3 {
  font-size: 18px;
  margin-bottom: 6px;
}

.theme-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 12px;
}

/* Active Card */
/* .theme-card.active {
  border-color: #ffb3b3;
  box-shadow: 0 0 0 2px #ffe5e5 inset;
} */

/* Header row for active badge */
.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active-badge {
  color: #ff7a7a;
  font-size: 14px;
  font-weight: 600;
}

/* Color Switches */
.colors {
  display: flex;
  gap: 10px;
}

.colors span {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.cont{
  height: auto;
  width: auto;
  margin-top: 220%;
  
}

.colorbox{
 
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 150vh;
  width: 100vw;
  
}

.title{
font-size: 24px;
margin-bottom: 20px; 
font-weight: 400; 
margin-left: 5%;
background:linear-gradient(#350B40 , #AD6C80 , #EE99A0);

background-color: transparent;
background-clip: text; 
-webkit-background-clip: text;
color: transparent;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  
}

.btn1{
  background-color: white;
  border-color: white;
  border-right-color: white;
  color: gray;
  border: 0cap;
  margin-left: 2%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn1:hover{
   color: black;
   transform: scale(1.2);
   
}

.btn2{
  background-color: white;
  color: gray;
  border-color: white;
  border-right-color: white;
  border: 0cap;
  margin-left: 9%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn2:hover{
   color: black;
   transform: scale(1.2);
   
}

.btn3{
  background-color: white;
  border-color: white;
  color: gray;
  border-right-color: white;
  border: 0cap;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 8%;
}

.btn3:hover{
   color: black;
   transform: scale(1.2);
   
}

.timecount{
  font-size: 400%;
 
  padding-top:2%;
  height: fit-content;

  
}

.container5{
  
  gap: 10%;

}

.start{
  height:70px;
  width: 25%;
  background-color: #547792;
  color: white;
  border: none;
  gap: 5px;
 
}

.start:hover{
  background-color:#004d87;
}

.reload{
height:70px;
  width: 10%;
  margin-left: 4%;
  background-color: white;
  border: rgb(225, 222, 222) 0.2px solid;
}

.next{
height:70px;
  width: 10%;
  margin-left: 2%;
  background-color: white;
  border: rgb(225, 222, 222) 0.2px solid;
}

 .reload:hover{
 background-color: rgb(188, 44, 44);
  color: white;
  opacity: 80%;
}

.next:hover{
  background-color: rgb(188, 44, 44);
  color: white;
  opacity: 80%;
}

.focus2{
  color:#004d87;
  font-weight: 600;
  font-size: larger;
}
.timer-box{
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
 opacity: 80%;
}

.timer-box h1{
  font-size:400%;
  font-weight: 800;
  color: #547792;
}
.timer-box p{
  height: fit-content;
  width: fit-content;
  color: #547792;
}

.timecount{
  color: rgb(44, 42, 42);
  opacity: 70%;
}

.container6{
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
 margin:50px auto;
}

.card{
  width: 30%;
  background-color: #fdf9f6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.05);
 
}

.card h3{
  margin-bottom: 10px;
  color: #3b3b3b;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card p{
  color: #777;
  font-size: 14px;
}

.card:hover{
  background-color: #f3ede8;
}






.pro
{
  color: rgb(57, 55, 55);
  opacity: 70%;
}

.footer{
  height: 100vh;
  width: 100%;
 
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  opacity: 30%;
  font-weight: 300%;
  color: rgb(55, 50, 50);
}

.logo h1{
  font-size: 1000%;
  opacity: 20%;
}
.msg{
  align-items: center;
  display: flex;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  opacity: 30%;
  font-weight: 300%;
  color: rgb(55, 50, 50);
  justify-content: space-around;
}


body{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background-color: #fbf8f3;
  color: #4a4a4a;
}
.container7{
  width: 100%;
  height: 100vh;
  padding-left: 120px;
  padding-top: 140px;
}

.current{
  width: 60%;
}
.currenttext{
  line-height: 1.2;
}
.currenttext .current{
  font-size: 72px;
  font-weight: 600;
  color: #4a4a4a;
}
.currenttext .task{
  font-size: 72px;
  font-weight: 600;
  color: #b9b0a8;
}
.currenttext p{
  margin-top: 20px;
  font-size: 15px;
  color: #7a7a7a;
  max-width: 500px;
}
