.body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}


.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

ng-view {
  display: block;
  padding-top: 140px;
}
.animated-text {
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeSlideIn 1s ease forwards;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.navigation{
    width: 100%;
    height: 120px;
    box-shadow: 0 2px 4px rgb(194, 189, 189);
    align-items: center;
    justify-content: space-between;
    background-color: #071952;
    display: flex;
    position: fixed;
    
}


.left{
    height: 120px;
    width: 150px;
    background-image: url('logo.png');
    background-size: cover;
    
}

.right{
    color: white;
    height: 120px;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-right: 10%
}

.right a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight:300;
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.right i{
    color: rgb(136, 136, 136);
    padding-left: 120px;
    
}

.right a:hover{
    color: #97FEED;
}

.color{
    height: 45px;
    width: 20%;
    background-color: #0B666A;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
}

.color i{
    color: white;
    font-size: larger;
    padding-right: 90%;
}

.keep{
    color: rgb(59, 57, 57);
   padding-top: 17%;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 300%;
   padding-left: 17%;
 
}

.strong{
   color: #35A29F;
   opacity: 35%;
}

.container1{
    width: 100%;
    height: 70%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-top: 4%;
}

.box{
    height: 120%;
    width: 20%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 4px #97FEED;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box:hover{
     box-shadow: 4px 4px 4px 4px #97FEED;
     background-color: #2c4d4c;
     color: white;
     transform: 15s;
     border-radius: 8%;
     opacity: 60%;

}
.text:hover{
    color: white;
}

.text2:hover{
    color: white;
}

.text{
    color: rgb(164, 154, 154);
}

.text2{
    font-size: larger;
    font-weight: 500;
}

.container2{
    width: 80%;
    height: 50%;
    font-weight:lighter;
    margin-top: 5%;
    padding-left: 10%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 47, 47);
}

.icon
{
    display:flex;
    align-items: center;
    gap: 2px;
    color:  #B7BDF7;
}
.container3{
    height:25%;
    width:100%;
    margin-left: 10%;
    margin-top: 10%;


}
.next{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(38, 37, 37);
    font-size: 70%;
}

.task{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(59, 59, 59);
    font-weight: normal;
}

.container{
    height: fit-content;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container4{
    height: 200vh;
    width: 100%;
    align-items: center;
    justify-content:space-around;
    display: flex;
    margin-top: 10%;
  
    gap: 5%;
}

.focus{
    height: 60%;
    width: 60%;
    
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
   margin-left: 10%;
   

}

body {
  overflow: hidden;
}


.timer{
     height: 50%;
    width: 55%;
    background-color:#547792;
    align-items: center;
    justify-content:space-around;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    
}

.timer-box{
    height: 60%;
    width: 60%;
    background-color:#1A3263;
    border-radius: 7%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 39%;
   
}
.min{
color: rgb(88, 86, 86);
font-size: 500%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-bottom: 25%;


}

.count{
    /* padding-bottom: 5%; */
    font-size: 500%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #547792;
margin-bottom: 30%;
opacity: 35%;}

.text{
    padding-left: 8%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 110%;
   
   margin-top: 4%;
   
}

.focus2{
    margin-top: 10%;
}

.mintext p{
margin-top: 15%;
font-size: 120%;
}

.mintext{
    margin-bottom: 21%;
   
    height: fit-content;
}

.mintext .container5{
    margin-top: 10%;
}


.right a.active{
    color: #97FEED;
    font-weight: 500;
    border-bottom: 3px solid #97FEED;
    padding-bottom: 5px;
}

.conatiner{
    width: 100%;
    
    overflow-x: auto;
}
