 
 <head><link rel="stylesheet" href="app.css"></head>
 
 <section class="progress-section">
        <div class="contain">
            <h1 class="title1">ChronoPom Progress</h1>
            <p class="subtitle">Track your productivity and unlock achievements</p>

            <div class="cards">

                <div class="card">
                    <h3>Total Tasks</h3>
                    <h2>127</h2>
                    <p>Completed this session</p>
                </div>

                <div class="card">
                    <h3>Total Pomodoros</h3>
                    <h2>342</h2>
                    <p>25-minute intervals</p>
                </div>

                <div class="card">
                    <h3>Current Streak</h3>
                    <h2 class="highlight-yellow">12 days</h2>
                    <p>Keep it going!</p>
                </div>

                <div class="card">
                    <h3>Productivity Score</h3>
                    <h2 class="highlight-green">1245</h2>
                    <p>Productivity Master</p>
                </div>

            </div>
        </div>

<div class="card-container">
    <div class="card"
         ng-repeat="badge in badges"
         ng-click="openPopup(badge)">

        <div class="level">{{badge.level}}</div>

        <div class="icon">{{badge.icon}}</div>

        <h2>{{badge.name}}</h2>
        <p>{{badge.desc}}</p>

        <button class="unlock-btn" ng-if="badge.unlocked">
            UNLOCKED
        </button>

        <button class="locked-btn" ng-if="!badge.unlocked">
            LOCKED
        </button>
    </div>
</div>


<!-- POPUP -->
<div class="popup-overlay" ng-show="showPopup">
    <div class="popup">

        <!-- Confetti Added -->
        <div class="confetti"
             ng-repeat="n in [].constructor(30) track by $index">
        </div>

        <div class="popup-icon">{{selected.icon}}</div>
        <h2>Achievement Unlocked</h2>
        <h1>{{selected.name}}</h1>
        <p>{{selected.desc}}</p>

        <div class="xp">+50 XP</div>

        <button class="claim-btn" ng-click="closePopup()">
            CLAIM REWARD
        </button>

    </div>
</div>

<script src="app.js"></script>



    </section>


 