body{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background-color: #fbf8f3;
  color: #4a4a4a;
}
.container7{
  width: 100%;
  height: 100vh;
  padding-left: 120px;
  padding-top: 140px;
}

.current{
  width: 60%;
}
.currenttext{
  line-height: 1.2;
}
.currenttext .current{
  font-size: 72px;
  font-weight: 600;
  color: #4a4a4a;
}
.currenttext .task{
  font-size: 72px;
  font-weight: 600;
  color: #b9b0a8;
}
.currenttext p{
  margin-top: 20px;
  font-size: 15px;
  color: #7a7a7a;
  max-width: 500px;
}
