body{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background-color: #fbf8f3;
  color: #4a4a4a;
}
.container7{
  width: 100%;
  height: 100vh;
  padding-left: 120px;
  padding-top: 140px;
}

.current{
  width: 60%;
}
.currenttext{
  line-height: 1.2;
}
.currenttext .current{
  font-size: 80px;
  font-weight: 600;
  color: #313030;
}
.currenttext .task{
  font-size: 80px;
  font-weight: 600;
  color: #e1d7ce;
}
.currenttext p{
  margin-top: 20px;
  font-size: 15px;
  color: #7a7a7a;
  max-width: 500px;
}
.container8
{
  margin-top: 40px;
  font-style:italic;
  font-weight: 300px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  color: #b5b4b4;
  opacity:0.5;
  margin-top: 20%;
}
.garden{
  /* position:absolute;
  top: 50%;
  left: 20%;
  font-style: italic;
  color: #d8d3cd; */
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
  font-size: 20px;
  color: #d8d3cd;
  opacity: 0.5;
}
