body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  
}

.btn1{
  background-color: white;
  border-color: white;
  border-right-color: white;
  color: gray;
  border: 0cap;
  margin-left: 2%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn1:hover{
   color: black;
   transform: scale(1.2);
   
}

.btn2{
  background-color: white;
  color: gray;
  border-color: white;
  border-right-color: white;
  border: 0cap;
  margin-left: 9%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn2:hover{
   color: black;
   transform: scale(1.2);
   
}

.btn3{
  background-color: white;
  border-color: white;
  color: gray;
  border-right-color: white;
  border: 0cap;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 8%;
}

.btn3:hover{
   color: black;
   transform: scale(1.2);
   
}

.timecount{
  font-size: 400%;
 
  padding-top:2%;
  height: fit-content;

  
}

.timetext{
 
}

.container5{
  
  gap: 10%;

}

.start{
  height:70px;
  width: 25%;
  background-color: #547792;
  color: white;
  border: none;
  gap: 5px;
 
}

.start:hover{
  background-color:#004d87;
}

.reload{
height:70px;
  width: 10%;
  margin-left: 4%;
  background-color: white;
  border: rgb(225, 222, 222) 0.2px solid;
}

.next{
height:70px;
  width: 10%;
  margin-left: 2%;
  background-color: white;
  border: rgb(225, 222, 222) 0.2px solid;
}

 .reload:hover{
 background-color: rgb(188, 44, 44);
  color: white;
  opacity: 80%;
}

.next:hover{
  background-color: rgb(188, 44, 44);
  color: white;
  opacity: 80%;
}

.focus2{
  color:#004d87;
  font-weight: 600;
  font-size: larger;
}
.timer-box{
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
 opacity: 80%;
}

.timer-box h1{
  font-size:400%;
  font-weight: 800;
  color: #547792;
}
.timer-box p{
  height: fit-content;
  width: fit-content;
  color: #547792;
}

.timecount{
  color: rgb(44, 42, 42);
  opacity: 70%;
}

.container6{
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
 margin:50px auto;
}

.card{
  width: 30%;
  background-color: #fdf9f6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.05);
 
}

.card h3{
  margin-bottom: 10px;
  color: #3b3b3b;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card p{
  color: #777;
  font-size: 14px;
}

.card:hover{
  background-color: #f3ede8;
}




.pro
{
  color: rgb(57, 55, 55);
  opacity: 70%;
}

.footer{
  height: 100vh;
  width: 100%;
 
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  opacity: 30%;
  font-weight: 300%;
  color: rgb(55, 50, 50);
}

.logo h1{
  font-size: 1000%;
  opacity: 20%;
}
.msg{
  align-items: center;
  display: flex;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  opacity: 30%;
  font-weight: 300%;
  color: rgb(55, 50, 50);
  justify-content: space-around;
}

