<div class="container" ng-controller="myctrl">


<div class="chronohead">
  <div class="lefthead">
    <h1>ChronoP<i class="fa-regular fa-clock" style="font-size:60px; color:#000c31;"></i>m</h1>
   <p>– Make Time Work for You.</p>
  </div>

  <div class="righthead">
<p>Chronopom is a smart and intuitive time-management application designed to boost focus and reduce distractions.
It transforms your goals into powerful, structured time sessions that maximize productivity.
With its clean interface and motivating timer system, every second feels meaningful.
Whether you are a student or professional, Chronopom helps you stay disciplined and consistent.<br><br>
With Chronopom, time is no longer something you chase — it becomes your greatest advantage.</p>
  </div>
</div>

<div class="ks">
  <h1 class="keep">Keep Going  <span class="strong">Strong</span></h1>
</div>



<div class="container1">
  <div class="box">
      <p class="text">DAILY SCORE</p>
      <p class="text2">0</p>
      <p class="text">points earned today</p>
  </div>

  <div class="box">
      <p class="text">TASKS TODAY</p>
      <p class="text2">0/0</p>
      <p class="text">0% completion</p>
  </div>

  <div class="box" >
    <p class="text">STREAK</p>
    <p class="text2">0</p>
    <p class="text">day Streak</p>
  </div>
</div>

<div class="container2">
  <div class="icon">
  <i class="fa-regular fa-message"></i><p>INSPIRATION</p>
  </div>
  <h2>"Start your first session and begin your journey!"</h2>
</div>



<div class="container4">
  <div class="focus">
    <div class="mintext">
<span class="min">Minutes Matter.<br></span> <span class="count">Make Them Count.</span>
<p>Success isn’t built in hours of motivation — it’s built in focused minutes. Start now, stay consistent, and let progress stack up</p>
<hr>

 </div>



</div>


<!-- Timer HTML File -->

<div class="tabs">
    <button ng-click="setMode('pomodoro')">Pomodoro</button>
    <button ng-click="setMode('short')">Short Break</button>
    <button ng-click="setMode('long')">Long Break</button>
</div>

<div class="circle">

    <svg width="300" height="300">

        <circle cx="150" cy="150" r="120"
        stroke="#B7BDF7"
        stroke-width="12"
        fill="none"></circle>

        <circle cx="150" cy="150" r="120"
        stroke="#000c31"
        stroke-width="22"
        fill="none"
        stroke-dasharray="754"
        stroke-dashoffset="{{dashOffset}}">
        </circle>

    </svg>

    <div class="time">
        <h1>{{minutes}}:{{seconds}}</h1>
    </div>

</div>

<div class="controls">

<button ng-click="start()">Start</button>
<button ng-click="pause()">Pause</button>
<button ng-click="reset()">Reset</button>

</div>










<div class="container6">
  
  <div class="card">
    <h3><a href="#!/tasks" ng-class="{'active': currentRoute == '/tasks'}">Tasks</a></h3>
    <p>Manage your current tasks and sessions</p>
  </div>

  <div class="card">
    <h3><a href="#!/analytics" ng-class="{'active': currentRoute == '/analytics'}">Analytics </a>
</h3>
    <p>View task history and progress charts</p>
  </div>

  <div class="card">
    <h3><a href="#!/progress" ng-class="{'active': currentRoute == '/progress'}">Progress</a>
</h3>
    <p>Check achievements and streaks</p>
  </div> 
</div>

<div class="footer">
  <div class="logo">
    <h3>" ChronoPom blends focused Pomodoro sessions with smart task tracking, <br>
      helping you beat distractions, stay organized, and get more done in less time. <br>
      Simple. Structured. Seriously productive."</h3>
    <h1>CHRONOPOM</h1>
  </div>
</div>
<div class="msg" >
    <p>© 2026 CHRONOPOM. ALL RIGHTS RESERVED.</p>
    <p>DEDICATED TO CREATIVITY , CULTURE & GROWTH</p>
  </div>



<script src="app.js"></script>