.body{
    margin: 0;
    padding: 0;
}

.navigation{
    width: 100%;
    height: 120px;
    background-color: white;
    box-shadow: 0 2px 4px rgb(194, 189, 189);
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: fixed;
}

.left{
    height: 120px;
    width: 150px;
    background-color:black;
    background-image: url('logo.png');
    background-size: cover;
    
}

.right{
   
    height: 120px;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-right: 10%
}

.right a{
    text-decoration: none;
    font-size: 15px;
    font-weight:300;
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.right i{
    color: rgb(136, 136, 136);
    padding-left: 130px;
}

.right a:hover{
    color: black;
    font-weight: 500;
    transition: 0.3s;
}

.color{
    height: 45px;
    width: 20%;
    background-color: #B7BDF7;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
}

.color i{
    color: white;
    font-size: larger;
    padding-right: 90%;
}

.keep{
    color: rgb(24, 24, 24);
   padding-top: 17%;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 300%;
   padding-left: 17%;
}

.strong{
   color: rgb(213, 215, 217);
}

.container1{
    width: 100%;
    height: 70%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-top: 4%;
}

.box{
    height: 120%;
    width: 20%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px #B7BDF7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text{
    color: rgb(164, 154, 154);
}

.text2{
    font-size: larger;
    font-weight: 500;
}

.container2{
    width: 80%;
    height: 50%;
    font-weight:lighter;
    margin-top: 5%;
    padding-left: 10%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(15, 15, 15);
}

.icon
{
    display:flex;
    align-items: center;
    gap: 2px;
    color:  #B7BDF7;
}